

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
}
.details .form-control{
    border-radius: 2px;
}

.botonadd{
    margin: 5px auto;
    width: 70%;
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.175);
    color: whitesmoke;
    font-size: large;
    font-weight: bolder;
}
.card{
    border-radius: 0;
}
.div-btns{
    height: 50%;
}
#principal{
    margin-top: 2rem;
}