

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
}
.details .form-control{
    border-radius: 0;
}

.botonadd{
    margin: 5px auto;
    width: 70%;
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.175);;
}
.card{
    border-radius: 0;
}
.div-btns{
    height: 50%;
}
